@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #333;
}

.App {
  max-width: 728px;
  margin: 4rem auto;
}

.App > h1 {
  text-align: center;
  margin: 1rem 0;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
}

.Card--text h1 {
  color: #ff9900;
}

.Card--button button {
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.Card--button__delete {
  background: linear-gradient(to right, #ca0000 30%, #fff 81%, #ca0000 100%);
  border: 1px solid #ca0000;
  color: #fff;
  transition: 0.5s;
  background-size: 200% auto;
}

.Card--button__delete:hover {
  background-position: right center;
  color: #ca0000;
  text-decoration: none;
}

.Card--button__done {
  background: linear-gradient(to right, #00aa69 30%, #fff 81%, #00aa69 100%);
  border: 1px solid #00aa69;
  color: #fff;
  margin-right: 1rem;
  transition: 0.5s;
  background-size: 200% auto;
}

.Card--button__done:hover {
  background-position: right center;
  color: #00aa69;
  text-decoration: none;
}

.Form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #444;
  margin-bottom: 1rem;
}

.Form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form input {
  background: #f5f6f7;
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  display: block;
  margin: 0.3rem 1rem 0 0;
}

.Form button {
  background: linear-gradient(to right, #314755 0%, #ff9900 51%, #314755 100%);
  margin: 10px;
  padding: 13px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #ff9900;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

.Form button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
  color: #777 !important;
}

.hide-button {
  display: none;
}
